# Data Cleaning

In this notebook, various movie-related datasets will be read into Pandas dataframes and prepared/cleaned for analysis.

In [2]:
import pandas as pd

## IMDB Data Sets

The follow datasets were obtained from IMDB in March 2021. They are in tab-separated variable format. The tconst column is an identifier that can be used to join datasets
* DL Link: https://datasets.imdbws.com

### Rating Data

title.ratings.tsv.gz – 

Contains the IMDb rating and votes information for titles
* tconst (string) - alphanumeric unique identifier of the title
* averageRating – weighted average of all the individual user ratings
* numVotes - number of votes the title has received

In [14]:
rating_data = pd.read_csv('../data2/data.tsv', delimiter= '\t')
rating_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1131280 entries, 0 to 1131279
Data columns (total 3 columns):
tconst           1131280 non-null object
averageRating    1131280 non-null float64
numVotes         1131280 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 25.9+ MB

The rating dataset appears to be complete, with all observations containing data of the appropriate type.

### Episode Data

title.episode.tsv.gz

Contains the tv episode information. Fields include:
* tconst (string) - alphanumeric identifier of episode
* parentTconst (string) - alphanumeric identifier of the parent TV Series
* seasonNumber (integer) – season number the episode belongs to
* episodeNumber (integer) – episode number of the tconst in the TV series

In [16]:
episode_data = pd.read_csv('../data2/data-2.tsv', delimiter= '\t')
episode_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5593137 entries, 0 to 5593136
Data columns (total 4 columns):
tconst           object
parentTconst     object
seasonNumber     object
episodeNumber    object
dtypes: object(4)
memory usage: 170.7+ MB

In [17]:
episode_data.head()

      tconst parentTconst seasonNumber episodeNumber
0  tt0041951    tt0041038            1             9
1  tt0042816    tt0989125            1            17
2  tt0042889    tt0989125           \N            \N
3  tt0043426    tt0040051            3            42
4  tt0043631    tt0989125            2            16

The episode dataset `seasonNumber` and `episodeNumber`